doctype

html(lang="ru")
  
  -var active = 'О компании' //активный пункт меню, список в header.jade
  -var pageTitle = 'О компании' + ' - Eliya' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content__head(style="background-image: url('./img/bg/bg-1.png');")
      div
        h1 о компании
        ul.breadcrumbs
          li: a(href="#!") eliya
          li: span О компании
    
    .content 
      .container
        p Наша фабрика 
          strong ELIYA 
          | уже более 11 лет успешно осуществляет поставки всех видов текстиля для сетей отелей Marriott, InterContinental (IHG), Hilton, Wyndham, Accor и т.д. в страны Европы, Америки и Азии.
        p
          strong Международная компания ELIYA (ЭЛИЯ) - 
          | теперь и в России. Более 3 000 отелей в более чем 130 странах мира уже 11 лет пользуются продукцией нашей компании.
        p
          strong Собственное производство 
          | в г.Гуанчжоу и самое высокое качество продукции: постельное белье, полотенца, халаты, подушки, одеяла, наматрасники, покрывала, шторы, скатерти, чехлы и т.д. 
          strong Бесплатно предоставляем образцы 
          | для тестирования: стандартные - в течение 2 дней, по индивидуальному заказу - в течение 10 дней. Также осуществляем комплексное снабжение отелей и ресторанов.
        p Компания 
          strong ELIYA 
          | аттестована системой управления качеством ISO9001. Bureau Veritas утвердил нашу компанию на уровне профессионального поставщика мирового уровня. Президент компании 
          strong ELIYA 
          | является Вице-президентом Ассоциации индустрии гостеприимства КНР.
      
        ul
          li Встреча в аэропорту, трансфер из аэропорта в больницу и обратно
          li Предоставление отдельной палаты для пациента и сопровождающего лица (2 кровати)
          li Предоставление 3-х раз. питания пациенту и его сопровождающему во время пребывания в медцентре 
          li Проведение лабораторных и диагностических обследований перед операцией:
            ol
              li Анализ крови (общий и биохимия)
              li УЗИ всех органов брюшной полости
              li Электрокардиограмма, Эхокардиография
              li Компьютерная Томография брюшной полости
              li Рентген легких
              li Анализы кала, мочи
              li Проведение операции по удалению конкрементов (камней и полипов) из желчного пузыря с сохранением органа
              li Предоставление всех необходимых лекарственных препаратов во время и после операции
              li Оказание сопутствующих услуг в период послеоперационного восстановления в медцентре
              li Исследование состава камней; двойной тест на злокачественность полипов
              li Авиабилеты и визы не входят в стоимость операции.
              
        h2 Для поездки на операцию в мае 2018г.
        ul
          li Заполнить Карту пациента на странице “Запись на консультацию”
          li Прикрепить УЗИ желчного пузыря (фото + описание врача) в Карту пациента или прислать отдельно на почту
          li Получить разрешение (письмо) от врачей (китайских) о допуске к операции
          li Приобрести авиабилеты в г.Гуанчжоу (предварительно согласовав дату прилета)
          li Сделать визы (от 3 до 10 дней – в зависимости от города)
          li Прислать копии билетов и виз на e-mail: 
            a(href="mailto:") info@kamneynet.com
          li При наличии противопоказаний в проведении операции будет отказано.
    
    
      .photos.gallery
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              a(href="./img/about/about-gallery-2.png").gallery-item
                span
                  +iconZoom
                img(src="./img/about/about-gallery-2.png", alt="").img-responsive
            .swiper-slide
              a(href="./img/about/about-gallery-3.png").gallery-item
                span
                  +iconZoom
                img(src="./img/about/about-gallery-3.png", alt="").img-responsive
            .swiper-slide
              a(href="./img/about/about-gallery-5.png").gallery-item
                span
                  +iconZoom
                img(src="./img/about/about-gallery-5.png", alt="").img-responsive
            .swiper-slide
              a(href="./img/about/about-gallery-4.png").gallery-item
                span
                  +iconZoom
                img(src="./img/about/about-gallery-4.png", alt="").img-responsive
            .swiper-slide
              a(href="./img/about/about-gallery-5.png").gallery-item
                span
                  +iconZoom
                img(src="./img/about/about-gallery-5.png", alt="").img-responsive
            .swiper-slide
              a(href="./img/about/about-gallery-4.png").gallery-item
                span
                  +iconZoom
                img(src="./img/about/about-gallery-4.png", alt="").img-responsive
          
          .container
            .swiper-button-next
            .swiper-button-prev
    
      +sectionAdvantages
      
      .clear15
      
      +sectionSertificate
              
      .section.our-production
        .container
          
          .row
            .col-md-7
              .our-production__video
                div
                  a(href="https://www.youtube.com/watch?v=0-7IHOXkiV8").popup-youtube
                  img(src="./img/about-video.png", alt="").img-responsive
                  i.ion-social-youtube-outline
            .col-md-5
              .h1 Наше производство 
              p Наша фабрика ELIYA уже более 11 лет успешно осуществляет поставки всех видов текстиля для сетей отелей Marriott, InterContinental (IHG), Hilton, Wyndham, Accor и т.д. в страны Европы, Америки и Азии.
              p Международная компания ELIYA (ЭЛИЯ) - теперь и в России. Более 3 000 отелей в более чем 130 странах мира уже 11 лет пользуются продукцией нашей компании.
    
      +sectionOrder
    
    include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
