doctype

html(lang="ru")
  
  -var active = 'Полотенца' //активный пункт меню, список в header.jade
  -var pageTitle = 'Полотенца' + ' - Eliya' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content__head(style="background-image: url('./img/bg/bg-3.png');")
      div
        h1 Полотенца
        ul.breadcrumbs
          li: a(href="#!") eliya
          li: a(href="#!") Каталог
          li: span Полотенца
    
    .content
      .container
          
        .text-center
          h2 Мягкий уход с головы до ног. В нашем ассортименте есть полотенца однотонные и с печатным рисунком, разных стилей и размеров. С таким полотенцем в ванной вы будете чувствовать себя свежее даже в самое сонное утро.
        
        .clear40
        
        .row
          .col-sm-4
            .about__carousel
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                  .swiper-slide
                    img(src="./img/about/about-img-2.png", alt="").img-responsive
                // Add Pagination
                .swiper-pagination
                // Add Arrows
                .swiper-button-next
                .swiper-button-prev
          .col-sm-8
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
            p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
        
        .clear20
        
        p Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. 
    
      .photos
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src="./img/about/about-gallery-2.png", alt="").img-responsive
            .swiper-slide
              img(src="./img/about/about-gallery-3.png", alt="").img-responsive
            .swiper-slide
              img(src="./img/about/about-gallery-5.png", alt="").img-responsive
            .swiper-slide
              img(src="./img/about/about-gallery-4.png", alt="").img-responsive
            .swiper-slide
              img(src="./img/about/about-gallery-5.png", alt="").img-responsive
            .swiper-slide
              img(src="./img/about/about-gallery-4.png", alt="").img-responsive
          
          .container
            .swiper-button-next
            .swiper-button-prev
    
      .container
        p Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
      
      .clear15
      
      +sectionSertificate
    
      +sectionOrder
    
    include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
