doctype

html(lang="ru")
  
  -var active = 'Как сделать заказ' //активный пункт меню, список в header.jade
  -var pageTitle = 'Как сделать заказ' + ' - Eliya' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content__head(style="background-image: url('./img/bg/bg-7.png');")
      div
        h1 Как сделать заказ
        ul.breadcrumbs
          li: a(href="#!") eliya
          li: span Как сделать заказ
    
    .content 
      .container
        p 
          strong Eliya 
          | является самым крупным и самым популярным интернет магазином оснащения отелей под ключ. Наша задача — не просто предоставить вам возможность покупки, мы хотим открыть для вас совершенно новый мир покупок. Каждый день развивается и уверенно шагает навстречу мировым трендам, чтобы вскоре познакомить вас с новинками самых известных брендов, а также достойными продуктами маленьких, но интересных производителей. Наша цель — сделать лучше каждый ваш день, наполняя его красотой и невероятными ароматами. Доступные цены, широкий выбор, высокое качество продукции и европейское обслуживание – главные секреты успеха компании Eliya. Мы заботимся о том, чтобы вы как можно больше узнали о каждом товаре, поэтому на сайте можно найти подробное описание продукта, его состав, способ применения, а также фото и видео.
        p Клиенты 
          strong Eliya 
          | всегда могут получить профессиональную консультацию у наших менеджеров, достаточно позвонить по одному из указанных на сайте номеров. Менеджер поможет не только подобрать товар, но и ответит на все интересующие вас вопросы относительно работы магазина, оформит ваш заказ и сориентирует по времени доставки.
    
        .clear15
    
        .faq
          .faq__block
            .faq__block-title
              span.span 1
              i
              | Осуществляете ли Вы доставку до квартиры и подъем на этаж?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 2
              i
              | Есть ли возможность заказать товар с доставкой в другую страну?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 3
              i
              | Сколько дней товар находится в пункте выдачи?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 4
              i
              | Требуется ли дополнительная оплата за перевод средств при наложенном платеже?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 5
              i
              | Есть ли возможность отказаться от части заказа в пункте выдачи?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 6
              i
              | Возможно ли купить товар в рассрочку?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 7
              i
              | Что делать, если товар был поврежден при перевозке?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
          .faq__block
            .faq__block-title
              span.span 8
              i
              | Возможно ли оплатить заказ картой при получении?
            .faq__block-answer
              div
                p В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала). Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты. 
                p После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
    
      +sectionOrder
    
    include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
