doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Eliya' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .main-carousel
      .main-carousel__wrapper
        .swiper-container
          .swiper-wrapper
            .swiper-slide(style="background-image: url('./img/main-slide-bg.png');")
              .container
                img(src="./img/main-slide-img.png", alt="").img-responsive
                .main-carousel__block
                  a(href="#!")
                  .main-carousel__block-name Постельное белье
                    strong Изабелла
                  .main-carousel__block-title
                    div Утонченная красота
                    span премиум класса
            .swiper-slide
              .container
                img(src="./img/main-slide-img.png", alt="").img-responsive
                .main-carousel__block
                  a(href="#!")
                  .main-carousel__block-name Постельное белье
                    strong Изабелла
                  .main-carousel__block-title
                    div Утонченная красота
                    span премиум класса
            .swiper-slide(style="background-image: url('./img/main-slide-bg.png');")
              .container
                img(src="./img/main-slide-img.png", alt="").img-responsive
                .main-carousel__block
                  a(href="#!")
                  .main-carousel__block-name Постельное белье
                    strong Изабелла
                  .main-carousel__block-title
                    div Утонченная красота
                    span премиум класса
            .swiper-slide
              .container
                img(src="./img/main-slide-img.png", alt="").img-responsive
                .main-carousel__block
                  a(href="#!")
                  .main-carousel__block-name Постельное белье
                    strong Изабелла
                  .main-carousel__block-title
                    div Утонченная красота
                    span премиум класса
            .swiper-slide(style="background-image: url('./img/main-slide-bg.png');")
              .container
                img(src="./img/main-slide-img.png", alt="").img-responsive
                .main-carousel__block
                  a(href="#!")
                  .main-carousel__block-name Постельное белье
                    strong Изабелла
                  .main-carousel__block-title
                    div Утонченная красота
                    span премиум класса
          
          .container
            // Add Pagination
            .swiper-pagination
            // Add Arrows
            .swiper-button-next
            .swiper-button-prev

      
    .content.no--p-top 
      
      .section.advantages
        .container
          
          .advantages__row
            div
              .advantages__block
                div
                  +advantagesIcon1
                div
                  p Снабжение ресторанов и отелей под ключ
            div
              .advantages__block
                div
                  +advantagesIcon2
                div
                  p Собственное производство и склад в Москве
            div
              .advantages__block
                div
                  +advantagesIcon3
                div
                  p Товар самого высокого качества
            div
              .advantages__block
                div
                  +advantagesIcon4
                div
                  p Отправка продукции во все страны
      
      .section.main-catalog
        .container
          
          .row
            .col-sm-8
              .main-catalog__block(style="background-image: url('./img/main-catalog/main-catalog-img-1.png')")
                a(href="#!")
                .main-catalog__block-text Легкое, словно перышко. Нежное тепло прикосновения.
                .main-catalog__block-title 
                  small качественное 
                  | постельное белье
            .col-sm-4
              .main-catalog__block(style="background-image: url('./img/main-catalog/main-catalog-img-2.png')")
                a(href="#!")
                .main-catalog__block-text Лучшее предложение, для 
                  br
                  | самых дорогих гостей.
                .main-catalog__block-title 
                  small для 
                  | ресторанов
            .col-sm-4
              .main-catalog__block(style="background-image: url('./img/main-catalog/main-catalog-img-3.png')")
                a(href="#!")
                .main-catalog__block-text Ухаживайте за клиентом 
                  br
                  | стильно.
                .main-catalog__block-title 
                  small разнообразные
                  | халаты
            .col-sm-4
              .main-catalog__block(style="background-image: url('./img/main-catalog/main-catalog-img-4.png')")
                a(href="#!")
                .main-catalog__block-text Красивый и нежный 
                  br
                  | текстиль для ванной.
                .main-catalog__block-title 
                  small лучшие 
                  | полотенца
            .col-sm-4
              .main-catalog__block(style="background-image: url('./img/main-catalog/main-catalog-img-5.png')")
                a(href="#!")
                .main-catalog__block-text Изюминка вашего сервиса.
                .main-catalog__block-title 
                  small отельная 
                  | косметика
      
      .section.about
        .container
          
          .row
            .col-sm-8
              .about__content
                .section__head.section__head--upper
                  .h1 Eliakimgroup 
                    i.small - ваш надежный партнер!
                p Наша фабрика ELIYA уже более 11 лет успешно осуществляет поставки всех видов текстиля для сетей отелей Marriott, InterContinental (IHG), Hilton, Wyndham, Accor и т.д. в страны Европы, Америки и Азии.
                p Международная компания ELIYA (ЭЛИЯ) - теперь и в России. Более 3 000 отелей в более чем 130 странах мира уже 11 лет пользуются продукцией нашей компании. Компания ELIYA аттестована системой управления качеством ISO9001. Bureau Veritas утвердил нашу компанию на уровне профессионального поставщика мирового уровня.
                a(href="#!").more Подробнее
            .col-sm-4
              .about__carousel
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                    .swiper-slide
                      img(src="./img/about/about-img.png", alt="").img-responsive
                  // Add Pagination
                  .swiper-pagination
                  // Add Arrows
                  .swiper-button-next
                  .swiper-button-prev

      .section.clients
        .container
          
          .section__head.section__head--upper.section__head--f34.no--wrap
            .h1 Наши клиенты
            
          .clients__carousel
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-1.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-2.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-3.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-4.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-5.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-6.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-1.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-2.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-3.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-4.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-5.png", alt="").img-responsive
                .swiper-slide
                  a(href="#!" target="_blank")
                  img(src="./img/clients/client-6.png", alt="").img-responsive
                  
          
          a(href="#!").more.more--light Все клиенты
    
      .section.order
        .container
          
          form(action="#").form.order__form
            fieldset
              legend.form__legend Заказать  бесплатные  образцы
              .row
                .col-sm-4
                  .form-group.has-feedback
                    label.hidden Ваше имя
                    input(type="text" placeholder="Ваше имя").form-control.input-focus
                    i.ion-alert-circled
                .col-sm-4
                  .form-group.has-feedback
                    label.hidden E-mail
                    input(type="text" placeholder="E-mail").form-control.input-focus
                    i.ion-alert-circled
                .col-sm-4
                  .form-group.has-feedback
                    label.hidden Телефон
                    input(type="text" placeholder="Телефон").form-control.input-focus
                    i.ion-alert-circled
              .clear10
              .text-center
                button(type="button").btn.btn--big Отправить сообщение
                .clear10
                label.form__checkbox.form__checkbox--inline-block
                  input(type='checkbox', checked='')
                  i.ion-android-checkbox-outline-blank
                  i.ion-android-checkbox-outline
                  span.span Согласен на обработку 
                    a(href="#!") персональных
                    | &nbsp; данных
    
    include ./_include/_footer
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
