// Footer
footer.footer
  .container
    
    .footer__top
      .row
        .col-md-3.col-sm-4.hidden-xs
          .footer__title О магазине
          ul.footer__list
            li: a(href="#!") Каталог продукции
            li: a(href="#!") О компании
            li: a(href="#!") Доставка и оплата
            li: a(href="#!") Публичная оферта
            li: a(href="#!") Политика конфиденциальности
            
        .col-md-3.col-sm-4.col-xs-6.hidden-xxs
          .footer__title О магазине
          ul.footer__list
            li: a(href="#!") Каталог продукции
            li: a(href="#!") О компании
            li: a(href="#!") Доставка и оплата
            li: a(href="#!") Публичная оферта
            li: a(href="#!") Политика конфиденциальности

        .col-md-3.col-sm-4.col-xs-6.col-xxs-12
          .footer__title Контакты
          .footer__address Шоурум: г. Москва 
            br
            | ул. Образцова, д.12, к.2
            br
            | Пн - Пт, 10:00 - 20:00 
            br
            a(href="mailto:") info@elyakimgroup.com
            
        .col-md-3.hidden-sm.col-xs-12
          .footer__phone
            +footerAddress
            .span +7 800 770 57 78
            small Принимаем звонки ежедневно
              br
              | 10:00 - 22:00
          .clear15.hidden-xs
          .footer__social.hidden-xs
            a(href="#!")
              +socialVk
            a(href="#!")
              +socialFb
            a(href="#!")
              +socialOk
            a(href="#!")
              +socialGp

    .footer__bottom
      .footer__copyright © Elyakim 2018
      .footer__development.hidden-xxs Разработка сайта
        a(href="#!")
          img(src="./img/piarme.png", alt="")
  
